TestSpa/.gitignore
TestSpa/LICENSE
TestSpa/README.md
TestSpa/TestSpa.sln
TestSpa/.github/workflows/build-container.yml
TestSpa/.github/workflows/build.yml
TestSpa/.github/workflows/release.yml
TestSpa/.kamal/secrets
TestSpa/.kamal/hooks/docker-setup.sample
TestSpa/.kamal/hooks/post-deploy.sample
TestSpa/.kamal/hooks/post-proxy-reboot.sample
TestSpa/.kamal/hooks/pre-build.sample
TestSpa/.kamal/hooks/pre-connect.sample
TestSpa/.kamal/hooks/pre-deploy.sample
TestSpa/.kamal/hooks/pre-proxy-reboot.sample
TestSpa/TestSpa/appsettings.Development.json
TestSpa/TestSpa/appsettings.json
TestSpa/TestSpa/Configure.AppHost.cs
TestSpa/TestSpa/Configure.Auth.cs
TestSpa/TestSpa/Configure.AutoQuery.cs
TestSpa/TestSpa/Configure.BackgroundJobs.cs
TestSpa/TestSpa/Configure.Db.cs
TestSpa/TestSpa/Configure.Db.Migrations.cs
TestSpa/TestSpa/Configure.OpenApi.cs
TestSpa/TestSpa/package.json
TestSpa/TestSpa/Program.cs
TestSpa/TestSpa/TestSpa.csproj
TestSpa/TestSpa/TestSpa.http
TestSpa/TestSpa/Migrations/20240301000000_CreateIdentitySchema.cs
TestSpa/TestSpa/Migrations/20240301000000_CreateIdentitySchema.Designer.cs
TestSpa/TestSpa/Migrations/ApplicationDbContextModelSnapshot.cs
TestSpa/TestSpa/Migrations/Migration1000.cs
TestSpa/TestSpa/Properties/launchSettings.json
TestSpa/TestSpa.Client/.eslintrc.cjs
TestSpa/TestSpa.Client/.gitignore
TestSpa/TestSpa.Client/components.json
TestSpa/TestSpa.Client/index.html
TestSpa/TestSpa.Client/package.json
TestSpa/TestSpa.Client/postcss.config.js
TestSpa/TestSpa.Client/README.md
TestSpa/TestSpa.Client/tailwind.config.js
TestSpa/TestSpa.Client/TestSpa.Client.esproj
TestSpa/TestSpa.Client/tsconfig.json
TestSpa/TestSpa.Client/tsconfig.node.json
TestSpa/TestSpa.Client/vite.config.markdown.ts
TestSpa/TestSpa.Client/vite.config.ts
TestSpa/TestSpa.Client/public/manifest.json
TestSpa/TestSpa.Client/public/img/logo.svg
TestSpa/TestSpa.Client/public/img/profiles/user1.svg
TestSpa/TestSpa.Client/public/img/profiles/user2.svg
TestSpa/TestSpa.Client/public/img/profiles/user3.svg
TestSpa/TestSpa.Client/public/img/whatsnew/animaginary.svg
TestSpa/TestSpa.Client/public/img/whatsnew/open-shuttle.svg
TestSpa/TestSpa.Client/public/img/whatsnew/planetaria.svg
TestSpa/TestSpa.Client/src/contexts.ts
TestSpa/TestSpa.Client/src/dtos.ts
TestSpa/TestSpa.Client/src/gateway.ts
TestSpa/TestSpa.Client/src/main.tsx
TestSpa/TestSpa.Client/src/types.ts
TestSpa/TestSpa.Client/src/useAuth.tsx
TestSpa/TestSpa.Client/src/utils.ts
TestSpa/TestSpa.Client/src/vite-env.d.ts
TestSpa/TestSpa.Client/src/_includes/component-links.md
TestSpa/TestSpa.Client/src/_includes/features.md
TestSpa/TestSpa.Client/src/_posts/2022-09-06_hetzner-cloud.md
TestSpa/TestSpa.Client/src/_posts/2022-12-31_typography.md
TestSpa/TestSpa.Client/src/_posts/2023-01-01_deploy.md
TestSpa/TestSpa.Client/src/_posts/2023-01-10_vs.md
TestSpa/TestSpa.Client/src/_posts/2023-01-11_rider.md
TestSpa/TestSpa.Client/src/_posts/2023-01-21_start.md
TestSpa/TestSpa.Client/src/_posts/2023-02-01_javascript.mdx
TestSpa/TestSpa.Client/src/_posts/2023-03-30_razor-ssg.md
TestSpa/TestSpa.Client/src/_posts/2023-08-23_razor-ssg-new-blog-features.mdx
TestSpa/TestSpa.Client/src/_posts/2023-11-20_net8-blazor-template.mdx
TestSpa/TestSpa.Client/src/_posts/2023-11-22_net8-best-blazor.mdx
TestSpa/TestSpa.Client/src/_posts/2023-11-28_net8-identity-auth.md
TestSpa/TestSpa.Client/src/_posts/2023-11-30_net8-docker-containers.md
TestSpa/TestSpa.Client/src/_posts/2024-02-07_servicestack-endpoint-routing.md
TestSpa/TestSpa.Client/src/_posts/2024-02-08_openapi-v3.md
TestSpa/TestSpa.Client/src/_posts/2024-02-09_system-text-json-apis.md
TestSpa/TestSpa.Client/src/_posts/2024-02-10_identity-auth-admin-ui.md
TestSpa/TestSpa.Client/src/_posts/2024-02-11_jwt-identity-auth.md
TestSpa/TestSpa.Client/src/_posts/2024-02-28_markdown-components-in-react.mdx
TestSpa/TestSpa.Client/src/_posts/2024-03-01_vite-press-plugin.md
TestSpa/TestSpa.Client/src/_posts/authors.json
TestSpa/TestSpa.Client/src/_posts/config.json
TestSpa/TestSpa.Client/src/_posts/components/BlazorTemplate.tsx
TestSpa/TestSpa.Client/src/_posts/components/BlazorVueTemplate.tsx
TestSpa/TestSpa.Client/src/_posts/components/ChartJs.tsx
TestSpa/TestSpa.Client/src/_posts/components/Counter.tsx
TestSpa/TestSpa.Client/src/_posts/components/Hello.tsx
TestSpa/TestSpa.Client/src/_posts/components/HelloApi.tsx
TestSpa/TestSpa.Client/src/_posts/components/Plugin.tsx
TestSpa/TestSpa.Client/src/_posts/components/TemplateIndex.ts
TestSpa/TestSpa.Client/src/_posts/components/Templates.tsx
TestSpa/TestSpa.Client/src/_videos/react/autogen-locode.md
TestSpa/TestSpa.Client/src/_videos/react/autoquery-bookings.md
TestSpa/TestSpa.Client/src/_videos/react/modern.md
TestSpa/TestSpa.Client/src/_videos/react/nextjs.md
TestSpa/TestSpa.Client/src/_videos/react/react-spa.md
TestSpa/TestSpa.Client/src/_whatsnew/2023-03-08_Animaginary/feature1.md
TestSpa/TestSpa.Client/src/_whatsnew/2023-03-18_OpenShuttle/feature1.md
TestSpa/TestSpa.Client/src/_whatsnew/2023-03-28_Planetaria/feature1.md
TestSpa/TestSpa.Client/src/assets/img/logo.svg
TestSpa/TestSpa.Client/src/assets/img/react.svg
TestSpa/TestSpa.Client/src/assets/styles/index.css
TestSpa/TestSpa.Client/src/assets/styles/main.css
TestSpa/TestSpa.Client/src/components/AuthorLinks.tsx
TestSpa/TestSpa.Client/src/components/BlogPosts.tsx
TestSpa/TestSpa.Client/src/components/BlogTitle.tsx
TestSpa/TestSpa.Client/src/components/DarkModeToggle.tsx
TestSpa/TestSpa.Client/src/components/DataTable.tsx
TestSpa/TestSpa.Client/src/components/FileLayout.tsx
TestSpa/TestSpa.Client/src/components/FollowLinks.tsx
TestSpa/TestSpa.Client/src/components/Footer.tsx
TestSpa/TestSpa.Client/src/components/Form.tsx
TestSpa/TestSpa.Client/src/components/GettingStarted.tsx
TestSpa/TestSpa.Client/src/components/Header.tsx
TestSpa/TestSpa.Client/src/components/Include.tsx
TestSpa/TestSpa.Client/src/components/Layout.tsx
TestSpa/TestSpa.Client/src/components/LayoutArticle.tsx
TestSpa/TestSpa.Client/src/components/LayoutPage.tsx
TestSpa/TestSpa.Client/src/components/LiteYouTube.tsx
TestSpa/TestSpa.Client/src/components/MarkdownComponent.tsx
TestSpa/TestSpa.Client/src/components/Meta.tsx
TestSpa/TestSpa.Client/src/components/ShellCommand.tsx
TestSpa/TestSpa.Client/src/components/SrcLink.tsx
TestSpa/TestSpa.Client/src/components/SrcPage.tsx
TestSpa/TestSpa.Client/src/components/theme-provider.tsx
TestSpa/TestSpa.Client/src/components/VideoGroup.tsx
TestSpa/TestSpa.Client/src/components/ui/button.tsx
TestSpa/TestSpa.Client/src/components/ui/dialog.tsx
TestSpa/TestSpa.Client/src/components/ui/dropdown-menu.tsx
TestSpa/TestSpa.Client/src/components/ui/sheet.tsx
TestSpa/TestSpa.Client/src/components/ui/table.tsx
TestSpa/TestSpa.Client/src/pages/about.mdx
TestSpa/TestSpa.Client/src/pages/admin.tsx
TestSpa/TestSpa.Client/src/pages/blog.tsx
TestSpa/TestSpa.Client/src/pages/counter.tsx
TestSpa/TestSpa.Client/src/pages/deploy.mdx
TestSpa/TestSpa.Client/src/pages/error.tsx
TestSpa/TestSpa.Client/src/pages/forbidden.tsx
TestSpa/TestSpa.Client/src/pages/index.tsx
TestSpa/TestSpa.Client/src/pages/privacy.mdx
TestSpa/TestSpa.Client/src/pages/profile.tsx
TestSpa/TestSpa.Client/src/pages/signin.tsx
TestSpa/TestSpa.Client/src/pages/signup-confirm.tsx
TestSpa/TestSpa.Client/src/pages/signup.tsx
TestSpa/TestSpa.Client/src/pages/todomvc.tsx
TestSpa/TestSpa.Client/src/pages/videos.tsx
TestSpa/TestSpa.Client/src/pages/weather.tsx
TestSpa/TestSpa.Client/src/pages/whatsnew.tsx
TestSpa/TestSpa.Client/src/pages/bookings-crud/Create.tsx
TestSpa/TestSpa.Client/src/pages/bookings-crud/Edit.tsx
TestSpa/TestSpa.Client/src/pages/bookings-crud/index.tsx
TestSpa/TestSpa.Client/src/pages/posts/\[slug].tsx
TestSpa/TestSpa.Client/src/pages/posts/index.tsx
TestSpa/TestSpa.Client/src/pages/posts/author/\[name].tsx
TestSpa/TestSpa.Client/src/pages/posts/tagged/\[tag].tsx
TestSpa/TestSpa.Client/src/pages/posts/year/\[year].tsx
TestSpa/TestSpa.ServiceInterface/AppConfig.cs
TestSpa/TestSpa.ServiceInterface/EmailServices.cs
TestSpa/TestSpa.ServiceInterface/MyServices.cs
TestSpa/TestSpa.ServiceInterface/RegisterService.cs
TestSpa/TestSpa.ServiceInterface/TestSpa.ServiceInterface.csproj
TestSpa/TestSpa.ServiceInterface/TodosServices.cs
TestSpa/TestSpa.ServiceInterface/Data/ApplicationDbContext.cs
TestSpa/TestSpa.ServiceInterface/Data/ApplicationUser.cs
TestSpa/TestSpa.ServiceInterface/Data/CustomUserSession.cs
TestSpa/TestSpa.ServiceInterface/Data/IdentityNoOpEmailSender.cs
TestSpa/TestSpa.ServiceModel/Bookings.cs
TestSpa/TestSpa.ServiceModel/ConfirmEmail.cs
TestSpa/TestSpa.ServiceModel/Hello.cs
TestSpa/TestSpa.ServiceModel/Icons.cs
TestSpa/TestSpa.ServiceModel/Roles.cs
TestSpa/TestSpa.ServiceModel/TestSpa.ServiceModel.csproj
TestSpa/TestSpa.ServiceModel/Todos.cs
TestSpa/TestSpa.ServiceModel/Types/README.md
TestSpa/TestSpa.Tests/IntegrationTest.cs
TestSpa/TestSpa.Tests/TestSpa.Tests.csproj
TestSpa/TestSpa.Tests/UnitTest.cs
TestSpa/config/deploy.yml
viteKProject/.gitignore
viteKProject/eslint.config.js
viteKProject/index.html
viteKProject/package-lock.json
viteKProject/package.json
viteKProject/README.md
viteKProject/tsconfig.app.json
viteKProject/tsconfig.json
viteKProject/tsconfig.node.json
viteKProject/vite.config.ts
viteKProject/public/vite.svg
viteKProject/src/App.css
viteKProject/src/App.tsx
viteKProject/src/index.css
viteKProject/src/main.tsx
viteKProject/src/vite-env.d.ts
viteKProject/src/assets/react.svg
